@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --primary-color: #B35AFF

    ;
}

/** body style **/

body{
    font-family: 'Montserrat', sans-serif;
    /* background-image: linear-gradient(to top, #790f59, #814c91, #827cbf, #89aae1, #a1d5fb); */

}

/** hr **/

hr{
    margin: 2rem 0rem 2rem 0rem;
}


/** container **/ 
.container{
    padding: 0rem 1rem;
}

.container-center{
  max-width: 600px;
  margin: auto;
}

/** links **/

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}


/** look into BEM method **/ 
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}


/** lists **/

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
   display: inline;
   padding: 0rem 0.5rem;
}


/** navigation **/

.navigation{
    background-color: var(--primary-color);
    color: white;
    /* border-radius: 6px; */
}

.links-navigation{
    color: white;
}